<!-- Footer -->
<footer
    class="d-flex flex-column gap-1 flex-xl-row justify-content-between bg-white rounded-2 shadow mx-2 my-3 mt-auto px-3 py-3 py-xl-2 text-secondary small align-items-center"
    style="min-height: 50px;">
    <!-- <button class="btn btn-warning btn-sm m-2" (click)="openUpdateModalManualmente()">
        Probar Modal de Actualización
    </button> -->
    <!-- Izquierda: Texto legal -->
    <div class="text-center">
        © 2025 Ruiz Gijón Conecta <small>{{ info.staticVersion }}</small> — Todos los derechos reservados.
        Diseño y desarrollo: Yohanna Gelo (inspirado en Zine E. Falout)
    </div>

    <!-- Centro: Acerca de -->
    <div class="">
        <small class="text-muted text-primary fw-bold text-uppercase" style="cursor: pointer;"
            (click)="openAboutModal()">
            Acerca de
        </small>
    </div>

    <!-- Derecha: Contacto -->
    <div class="">
        <a href="https://www.linkedin.com/in/yohannagelo/" target="_blank" class="text-secondary text-decoration-none">
            Cont. desarrolladora
            <i class="bi bi-linkedin ms-1"></i>
        </a>
    </div>

</footer>