<header
  class="row flex-column flex-xl-row align-items-center bg-white rounded-2 shadow my-2 p-2 mx-2 justify-content-between">

  <!-- Logo -->
  <figure class="col-8 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center mt-2">
    <a routerLink="/">
      <img src="assets/img/banner_RG_web.png" alt="Logo IES Ruiz Gijón" class="img-fluid">
    </a>
  </figure>

  <!-- Switch Navegación -->
  <nav class="col-10 col-sm-7 col-xl-3 rounded-5 bg-light p-1 d-flex justify-content-around" [ngClass]="{
    'shadow-sm': isInOfertasSection()
  }">
    <a routerLink="/ofertas" [ngClass]="{
      'btn btn-primary text-white': isInOfertasSection(),
      'text-primary fw-semibold': !isInOfertasSection()
    }" class="rounded-5 py-1 px-4 text-decoration-none">
      Ofertas
    </a>

    <a routerLink="/alumnos" [ngClass]="{
      'btn btn-primary text-white': !isInOfertasSection(),
      'text-primary fw-semibold': isInOfertasSection()
    }" class="rounded-5 py-1 px-4 text-decoration-none">
      Alumnado
    </a>
  </nav>


  <!-- Botones de Enlaces -->
  <div class="row col-xl-4 justify-content-center gap-3 gap-sm-4 gap-xl-2 mt-3 mt-xl-0">
    <a routerLink="/opiniones" class="col-sm-4 col-xl-5 btn btn-dark rounded-5 text-center py-1 px-3">
      Opiniones <i class="bi bi-chat ms-1"></i>
    </a>
    <a routerLink="/nueva-oferta" class="col-sm-4 col-xl-6 btn btn-primary rounded-5 text-center py-1 px-3">
      Nueva Oferta <i class="bi bi-plus"></i>
    </a>
  </div>

  <section class="col-xl-2 d-flex align-items-center justify-content-center gap-2 mt-3 mt-xl-0">
    <!-- NO autenticado -->
    <ng-container *ngIf="!(isAuthenticated$ | async); else loggedIn">
      <p class="mb-0 fw-semibold">Inicia sesión</p>
      <a routerLink="/login" class="d-flex align-items-center">
        <img src="assets/img/perfil.png" alt="Imagen de usuario" class="img-fluid rounded-circle" style="width: 55px;">
      </a>
    </ng-container>

    <!-- SÍ autenticado -->
    <ng-template #loggedIn>
      <div ngbDropdown class="d-flex align-items-center">
        <div class="me-2 text-end">
          <p class="mb-0 fw-semibold">{{ currentUser?.user.name }}</p>
          <small class="text-uppercase text-muted">{{ currentUser?.user.role }}</small>
        </div>
        <div ngbDropdownToggle class="d-flex align-items-center" style="cursor: pointer;">
          <img [src]="getFotoPerfil(currentUser?.user.foto_perfil)" alt="Imagen de usuario"
            class="img-fluid rounded-circle border border-2 shadow-sm me-1" style="width: 55px;">
        </div>
        <div ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="currentUser?.user.role === 'profesor' ? '/perfil-profesor' : '/perfil'">
            👤 Ver perfil
          </a>
          

          <!-- Opciones comunes para alumno y profesor -->
          <a *ngIf="currentUser?.user.role === 'alumno' || currentUser?.user.role === 'profesor'" class="dropdown-item"
            routerLink="/mis-ofertas">
            💼 Mis ofertas
          </a>
          <a *ngIf="currentUser?.user.role === 'alumno' || currentUser?.user.role === 'profesor'" class="dropdown-item"
            routerLink="/mis-opiniones">
            ✍️ Mis opiniones
          </a>

          <!-- Solo para profesor -->
          <a *ngIf="currentUser?.user.role === 'profesor'" class="dropdown-item" routerLink="/verificar-alumnos">
            ✅ Verificar alumnos
          </a>

          <!-- Solo para admin -->
          <a *ngIf="currentUser?.user.role === 'admin'" class="dropdown-item" routerLink="/admin">
            ⚙️ Gestión de cuentas
          </a>

          <div class="dropdown-divider"></div>
          <button class="dropdown-item text-danger" (click)="logout()">🚪 Cerrar sesión</button>
        </div>
      </div>
    </ng-template>

  </section>


</header>