.dropdownMenu {
    z-index: 1060;

}

.parpadeo-wrapper {
    width: 60px; // 55px img + 3px padding * 2
    height: 60px;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; // <- evita que se reduzca
}

@keyframes parpadeo-externo {

    0%,
    100% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 0 2px red;
    }
}

.parpadeo-verificacion {
    animation: parpadeo-externo 3s infinite;
    border-radius: 50%;
}