.floating-button {
    position: fixed;
    top: 20%;
    right: 0;
    background: var(--bs-primary);
    color: white;
    height: 50%;
    opacity: 0.7;
    width: 1.5rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
    z-index: 1050;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        opacity: 0.9;
    }
}

.floating-help {
    height: 10%;
    top: calc(70% + 1rem);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #8591b2;
        transform: scale(1.05);
        opacity: 0.9;
    }
}

// Panel lateral
.side-panel {
    position: fixed;
    top: 1rem;
    bottom: 1rem;
    right: -320px;
    width: 280px;
    padding: 1% 0 !important;
    background: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 1051;
    border-radius: 0.5rem;
    overflow-y: auto;

    &.open {
        right: 1rem;
    }
}

// Capa oscura detrás
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1050;
}

// 📱 Media query para pantallas pequeñas
@media (max-width: 576px) {

    .floating-button,
    .floating-help {
        width: 1.2rem;
        padding: 0.2rem;
    }
}