@use '../custom/custom' as cus;

// Modifica el espaciado de las letras del formulario
.form-label {
    letter-spacing: 0.2em;
}

// Modificar el tama침o de la letra de los placeholder
::placeholder {
    // font-size: 0.7rem;
    color: rgba(146, 146, 146, 0.86) !important;
}

// Cambiar el color de las letras del select
.form-select:invalid {
  color: cus.$gris;
}

.form-select:valid {
  color: cus.$oscuro;
}


.form-control {
    border: 1px solid rgba(146, 146, 146, 0.299);
    color: cus.$oscuro !important;


}

.img-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5;
  
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* 游 Oculta el bot칩n de mostrar/ocultar contrase침a que a침ade el navegador */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
}
