<form (ngSubmit)="enviarOferta()" class="needs-validation d-flex flex-column flex-grow-1" novalidate>
    <div class="row mx-2 my-3 justify-content-between gap-3 flex-grow-1">

        <!-- CONTENIDO PRINCIPAL -->
        <section class="col bg-white rounded-1 shadow p-4 d-flex flex-column flex-grow-1">
            <legend class="fw-bold fs-2">Añadir oferta de trabajo</legend>

            <!-- Puesto -->
            <div class="mt-3">
                <label class="form-label text-uppercase text-secondary">Puesto de trabajo</label>
                <input class="form-control text-secondary" (ngModelChange)="onFormChange()" [(ngModel)]="titulo"
                    name="titulo" placeholder="Ej: Administrador de base de datos" required />
            </div>

            <!-- Empresa -->
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label text-uppercase text-secondary">Empresa</label>
                    <ng-select [items]="empresasDisponibles" bindLabel="nombre" (ngModelChange)="onFormChange()"
                        [(ngModel)]="empresaSeleccionada" name="empresaSeleccionada" [compareWith]="compareEmpresa"
                        placeholder="Selecciona o escribe una empresa" (change)="onEmpresaChange()">
                    </ng-select>
                </div>
                <div class="col-md-6" *ngIf="empresaSeleccionada?.nombre !== 'Otras' && empresaSeleccionada?.web">
                    <label class="form-label text-uppercase text-secondary">Web</label>
                    <input class="form-control" [value]="empresaSeleccionada.web" disabled />
                </div>
            </div>

            <!-- Campos para nueva empresa -->
            <div class="row mt-3" *ngIf="empresaSeleccionada?.nombre === 'Otras'">
                <div class="col-md-4">
                    <label class="form-label text-uppercase text-secondary">Nombre</label>
                    <input class="form-control" (ngModelChange)="onFormChange()" [(ngModel)]="nuevaEmpresa.nombre"
                        name="nuevaEmpresaNombre" placeholder="Ej: MarketLab" required />
                </div>
                <div class="col-md-4">
                    <label class="form-label text-uppercase text-secondary">Web</label>
                    <div class="input-group">
                        <span class="input-group-text">https://</span>
                        <input class="form-control" (ngModelChange)="onFormChange()" [(ngModel)]="webSinProtocolo"
                            name="webEmpresa" placeholder="empresa.com" required
                            pattern="^\.[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Formato válido: ejemplo.com" />
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label text-uppercase text-secondary">Sector</label>
                    <select class="form-select" (ngModelChange)="onFormChange()" [(ngModel)]="nuevaEmpresa.sector"
                        name="nuevaEmpresaSector">
                        <option value="" disabled selected>Selecciona un sector</option>
                        <option *ngFor="let s of sectoresEmpresa" [value]="s">{{ sectoresEmpresaMap[s] }}</option>
                    </select>
                </div>
            </div>

            <!-- Descripción -->
            <div class="mt-3">
                <label class="form-label text-uppercase text-secondary">Descripción de la oferta</label>
                <textarea class="form-control" rows="5" (ngModelChange)="onFormChange()" [(ngModel)]="descripcion"
                    name="descripcion" placeholder="Describe brevemente las funciones del puesto..."
                    required></textarea>
            </div>

            <!-- Jornada y Localización -->
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label text-uppercase text-secondary">Tipo de jornada</label>
                    <select class="form-select" (ngModelChange)="onFormChange()" [(ngModel)]="jornada" name="jornada"
                        required>
                        <option value="" disabled selected>Selecciona jornada</option>
                        <option value="completa">Jornada completa</option>
                        <option value="media_jornada">Media jornada</option>
                        <option value="3_6_horas">3–6 horas</option>
                        <option value="menos_3_horas">Menos de 3 horas</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label text-uppercase text-secondary">Localización <i
                            class="bi bi-info-circle text-warning" placement="top"
                            ngbTooltip="Puedes escribir solo la localización. Escribe 'Online' si es 100% remoto. O añade 'SM'  a la localización para indicar semipresencial."></i></label>
                    <input class="form-control" (ngModelChange)="onFormChange()" [(ngModel)]="localizacion"
                        name="localizacion" placeholder="Ej: Sevilla | Online | Madrid SM" required />


                </div>
            </div>

            <!-- Fechas -->
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label text-uppercase text-secondary">Fecha de expiración</label>
                    <input type="date" class="form-control" (ngModelChange)="onFormChange()"
                        [(ngModel)]="fechaExpiracion" name="fechaExpiracion" required />
                </div>
                <div class="col-md-6 d-flex align-items-end">
                    <small class="text-muted">* La fecha de publicación se establece automáticamente</small>
                </div>
            </div>
        </section>

        <!-- CAJA DERECHA (REQUISITOS) -->
        <div class="col-lg-4">
            <div class="row bg-white rounded-1 shadow p-4 px-2">
                <legend class="fw-bold">Requisitos</legend>

                <!-- Titulación -->
                <div class="mt-3">
                    <label class="form-label text-uppercase text-secondary">Titulación requerida</label>
                    <ng-select [items]="titulosDisponibles" bindLabel="nombre" (ngModelChange)="onFormChange()"
                        [(ngModel)]="titulacionSeleccionada" name="titulacionSeleccionada"
                        placeholder="Selecciona un título...">
                    </ng-select>
                </div>

                <!-- Años de experiencia -->
                <div class="mt-3">
                    <label class="form-label text-uppercase text-secondary">Años de experiencia</label>
                    <input type="number" class="form-control" (ngModelChange)="onFormChange()"
                        [(ngModel)]="aniosExperiencia" name="aniosExperiencia" min="0" />
                </div>

                <!-- 💻 TECNOLOGÍAS (Habilidades de cara al usuario) -->
                <div class="row d-flex align-items-end mt-3">
                    <div class="col-12 col-md-9">
                        <label class="form-label text-uppercase text-secondary d-flex align-items-center gap-2">
                            Habilidades
                            <i class="bi bi-info-circle text-warning" placement="top"
                                ngbTooltip="El tipo de la primera habilidad que añadas determinará la categoría principal de la oferta."></i>
                        </label>

                        <ng-select [items]="tecnologiasDisponibles" [(ngModel)]="tecnologiaSeleccionada"
                            name="tecnologiaSeleccionada" [searchable]="true" placeholder="Selecciona o escribe"
                            (change)="onTecnologiaChange()">

                            <!-- 🔽 Etiqueta que aparece en el desplegable -->
                            <ng-template ng-label-tmp let-item="item">
                                {{ item.nombre }} - ({{ tiposTecnologiaMap[item.tipo] || item.tipo | titlecase }})
                            </ng-template>

                            <!-- 🔽 Etiqueta que aparece en la lista de opciones -->
                            <ng-template ng-option-tmp let-item="item">
                                {{ item.nombre }} - ({{ tiposTecnologiaMap[item.tipo] || item.tipo | titlecase }})
                            </ng-template>

                        </ng-select>


                        <!-- Selector de nivel solo cuando NO se selecciona 'Otros' -->
                        <div class="row mt-2"
                            *ngIf="tecnologiaSeleccionada?.nombre !== 'Otros' && tecnologiaSeleccionada">
                            <div class="col-md-9">
                                <label class="form-label text-uppercase text-secondary">Nivel</label>
                                <select class="form-select" (ngModelChange)="onFormChange()"
                                    [(ngModel)]="nivelSeleccionado" name="nivelSeleccionado">
                                    <option value="" disabled selected>Selecciona</option>
                                    <option
                                        *ngFor="let nivel of nivelesMap[tecnologiaSeleccionada?.tipo] || nivelesMap['default']"
                                        [value]="nivel">
                                        {{ nivel | titlecase }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Botón para añadir tecnología -->
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary rounded-1 text-white ms-2 px-3 py-2 shadow-sm"
                            (click)="agregarTecnologia()">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>

                <!-- Si se selecciona 'Otros', mostrar campos para nueva tecnología -->
                <div class="row mt-3" *ngIf="tecnologiaSeleccionada?.nombre === 'Otros'">
                    <div class="col-md-4">
                        <label class="form-label text-uppercase text-secondary">Tipo</label>
                        <select class="form-select" (ngModelChange)="onFormChange()" [(ngModel)]="nuevaTecnologia.tipo"
                            name="tipoTecnologia">
                            <option value="" disabled selected>Selecciona un tipo</option>
                            <option *ngFor="let tipo of tiposTecnologia" [value]="tipo">
                                {{ tiposTecnologiaMap[tipo] }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-uppercase text-secondary">Nombre</label>
                        <input class="form-control" (ngModelChange)="onFormChange()"
                            [(ngModel)]="nuevaTecnologia.nombre" name="nombreTecnologia" placeholder="Ej: Figma" />
                    </div>
                    <!-- Select de Nivel -->
                    <div class="col-md-8 mt-2">
                        <label class="form-label text-uppercase text-secondary">Nivel</label>
                        <select class="form-select" (ngModelChange)="onFormChange()"
                            [(ngModel)]="nuevaTecnologia.pivot.nivel" name="nivelTecnologia">
                            <option value="" disabled selected>Selecciona un nivel</option>
                            <option *ngFor="let nivel of nivelesMap[nuevaTecnologia.tipo] || nivelesMap['default']"
                                [value]="nivel">
                                {{ nivel | titlecase }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 d-flex align-items-end justify-content-end mt-2">
                        <button type="button" class="btn btn-success"
                            (click)="agregarNuevaTecnologiaLocal()">Agregar</button>
                    </div>
                </div>

                <!-- Lista de tecnologías añadidas -->
                <div class="row mt-3" *ngIf="tecnologiasSeleccionadas.length > 0">
                    <div class="col-12">
                        <h6 class="text-secondary">Tecnologías añadidas:</h6>
                        <ul class="list-group">
                            <li *ngFor="let tec of tecnologiasSeleccionadas; let i = index"
                                class="list-group-item d-flex justify-content-between">
                                <span class="text-secondary">
                                    {{ tiposTecnologiaMap[tec.tipo] || 'Tecnología' }}:
                                    <span class="text-black">{{ tec.nombre | titlecase }}</span>
                                    <span *ngIf="tec.pivot?.nivel">({{ tec.pivot.nivel | titlecase }})</span>
                                </span>
                                <button type="button" class="btn btn-sm btn-danger" (click)="eliminarTecnologia(i)">
                                    <i class="bi bi-x"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- BOTÓN DE ENVÍO -->
            <div
                class="row bg-white rounded-1 shadow py-4 px-2 mt-3 align-items-center justify-content-center text-center">
                <div class="col-12 col-sm-6 col-lg-7 mb-3 mb-sm-0">
                    <h4 class="fw-bold mb-3">¿Listo para publicar?</h4>
                    <button type="submit" class="btn btn-primary rounded-5 py-1 px-3 shadow-sm">Publicar oferta</button>
                </div>
                <div class="col-8 col-sm-4 col-lg-5">
                    <img src="assets/img/envio.png" alt="Imagen para envío" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</form>

<!-- MODAL: Formulario para confirmar salida sin guardar cambios -->
<ng-template #modalConfirmarSalida let-modal>
    <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title">Cambios sin guardar</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Has realizado cambios que no se han guardado. ¿Seguro que quieres salir?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" (click)="modal.dismiss()">Cancelar</button>
        <button class="btn btn-danger" (click)="modal.close()">Salir sin guardar</button>
    </div>
</ng-template>